apiVersion: v1
kind: Service
metadata:
  name: nginx-dev
  namespace: dev
  labels:
    app: nginx
    env: dev
spec:
  type: ClusterIP
  selector:
    app: nginx
    env: dev
  ports:
    - port: 80
      targetPort: 80
