apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev
nameSuffix: -dev

resources:
  - deployment.yaml
  - service.yaml

patches:
  - target:
      kind: Deployment
      name: nginx
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
